body {
    background-color: rgb(212, 205, 214);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: black;
    margin-left: 20px;
  }


input{
    border: 1px solid rgb(102, 102, 102);
  }
  

input:not(#time2):valid{
  border: 3px solid green;
} 


input:not(:placeholder-shown):not(:focus):invalid {
    border: 3px solid red;
  }

input{
    width: 300px;
}


/* INPUT[type="color"]
{
  border-style: solid;
  border-color: rgb(102, 102, 102);
} */

/* INPUT[type="date"]
{
  border-style: solid;
  border-color: rgb(102, 102, 102);
} */


.no-validation{
  border: 1px solid rgb(102, 102, 102) !important;
}


INPUT[type="submit"]
{
    border-color: black;
}


ol {
  outline: 0px solid transparent;
}

.draggable {
  cursor: move;
  user-select: none;
}


ol.circle {
  list-style: none;
  counter-reset: item;
}

ol.circle > li{
  counter-increment: item;
  margin-bottom: 5px;
}

ol.circle > li::before {
  margin-right: 10px;
  content: counter(item);
  background: #FF8A65;
  border-radius: 100%;
  color: white;
  width: 30px;
  text-align: center;
  display: inline-block;
  line-height: 30 px,
}


li{
  line-height: 30px !important;
}